.nopadding{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 90%;
    
}
input[type="file"]{
    margin-top: 20px;
    width: auto;
    background-color: #fff;
}
.rightDiv{
    margin-top: 30px;
    margin-right: 40px;
    height: 90%;
    width: 40%;
    background-color: transparent;
    float: right;
    
}
.leftDiv{
    margin-top: 30px;
    height: 90%;
    width: 40%;
    background-color: transparent;
    float: left;
    
}